@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");
body {
  font-family: 'Libre Baskerville', serif;
}

.jumbotron {
  background-image: url(../img/pasangan.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 1024px;
  text-align: center;
  position: relative;
}

.jumbotron .container {
  position: relative;
  z-index: 1;
  margin-top: 353px;
}

.jumbotron img {
  width: 502px;
}

.jumbotron .nama {
  color: #FFD369;
  font-weight: bold;
  left: 150px;
  margin-top: 80px;
  position: absolute;
  font-style: normal;
  font-weight: bold;
  font-size: 96px;
  line-height: 119px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.jumbotron .lead {
  color: white;
  margin-top: 130px;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 30px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.jumbotron::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#393d46), to(rgba(57, 61, 70, 0)));
  background-image: linear-gradient(to top, #393d46, rgba(57, 61, 70, 0));
  position: absolute;
  bottom: 0;
}

section {
  background-color: #393E46;
  margin-top: -35px;
  text-align: center;
}

section p {
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 79px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: white;
}

section .bungkus-tanggal .row {
  margin-top: 66px;
}

section .bungkus-tanggal .row h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 96px;
  line-height: 119px;
  color: #FFD369;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

section .bungkus-tanggal .row h6 {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 30px;
  color: #FFD369;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

section .bungkus-tanggal .hiasan img {
  width: 577.32px;
  height: 120px;
  margin-top: 100px;
}

section .bungkus-profil {
  height: 700px;
}

section .bungkus-profil p {
  margin-top: 120px;
}

section .bungkus-profil .profil img {
  width: 217.6px;
  height: 219.2px;
  margin-top: 23.8px;
}

section .bungkus-profil .profil h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 52px;
  text-align: center;
  margin-top: 20px;
  color: #FFD369;
}

section .bungkus-profil .profil span {
  width: 360px;
  height: 60px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  margin-top: 10px;
  color: white;
}

section .bungkus-profil .profil .igP {
  margin-top: 50px;
}

section .bungkus-profil .profil h6 {
  margin-top: 29px;
  color: white;
}

section .bungkus-peta .jadwal {
  text-align: left;
}

section .bungkus-peta .jadwal h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 45px;
  color: #FFD369;
  margin-top: 34px;
}

section .bungkus-peta .jadwal p {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: white;
}

section .bungkus-peta .jadwal .row p {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: white;
}

section .bungkus-peta .jadwal .row span {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: white;
}

section .bungkus-peta .jadwal .row h5 {
  color: #FFD369;
}

section .bungkus-foto .galeri {
  margin-top: 40px;
}

section footer {
  background-color: #FFD369;
  height: 100px;
}

section footer p {
  font-family: 'Lora', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #393E46;
}

section footer h5 {
  font-family: 'Pacifico', cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 63px;
  text-align: center;
  color: #393E46;
}
/*# sourceMappingURL=main.css.map */